
body {
    background-color: #669999;
  } 

.container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
  }
  
.table-row {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 10px;
  }
  
  
.h1-cell {
    grid-column: 1 / -1;
  }

.table-cell {
    margin: 5%;
    background: #407F7F;
    padding: 5%;
    border-radius: 10px;
  }

  h1 {
    border-radius: 10px;
    color: #0D4D4D;
  }

  
.table-cell:nth-child(0) {
    grid-column: 0;
  }
  
  .table-cell:nth-child(1) {
    grid-column: 1;
  }